<div class="board">
  <div
    id="tl"
    [ngClass]="darktheme ? 'tldarkmode' : 'tllightmode'"
    (click)="controller(0)"
  >
    {{ board[0] }}
  </div>
  <div
    id="t"
    [ngClass]="darktheme ? 'tdarkmode' : 'tlightmode'"
    (click)="controller(1)"
  >
    {{ board[1] }}
  </div>
  <div
    id="tr"
    [ngClass]="darktheme ? 'trdarkmode' : 'trlightmode'"
    (click)="controller(2)"
  >
    {{ board[2] }}
  </div>
  <div
    id="cl"
    [ngClass]="darktheme ? 'cldarkmode' : 'cllightmode'"
    (click)="controller(3)"
  >
    {{ board[3] }}
  </div>
  <div
    id="c"
    [ngClass]="darktheme ? 'cdarkmode' : 'clightmode'"
    (click)="controller(4)"
  >
    {{ board[4] }}
  </div>
  <div
    id="cr"
    [ngClass]="darktheme ? 'crdarkmode' : 'crlightmode'"
    (click)="controller(5)"
  >
    {{ board[5] }}
  </div>
  <div
    id="bl"
    [ngClass]="darktheme ? 'bldarkmode' : 'bllightmode'"
    (click)="controller(6)"
  >
    {{ board[6] }}
  </div>
  <div
    id="b"
    [ngClass]="darktheme ? 'bdarkmode' : 'blightmode'"
    (click)="controller(7)"
  >
    {{ board[7] }}
  </div>
  <div
    id="br"
    [ngClass]="darktheme ? 'brdarkmode' : 'brlightmode'"
    (click)="controller(8)"
  >
    {{ board[8] }}
  </div>
</div>
<div id="turnmsg">
  {{ msg }}
</div>

<button
  id="button"
  type="button"
  name="dark_light"
  (click)="toggleDarkLight()"
  title="Toggle theme"
  style="position: absolute; top:15px; right: 3%; width: 70.93px"
>
  {{ buttonvalue }}
</button>

<input
  class="newgamebutton"
  type="button"
  value="New Game"
  (click)="newgame()"
  title="Start a new game"
/>

<div style="position: absolute; top: 25px; font-size: 25px;">Multiplayer</div>
<div class="mode-switch-wrapper">
  <label class="mode-switch" for="isCheckBox">
    <input type="checkbox" id="isCheckBox" (change)="mode($event)" />
    <div class="slider round"></div>
  </label>
</div>
<div style="position: absolute; top: 25px; left:13%;font-size: 25px;">
  Singleplayer
</div>

<br />

<div class="scoreboard">
  <h1>Score:</h1>
  <div class="xscore">Player X:{{ xscore }}</div>
  <div class="tiescore">Tie: {{ tiescore }}</div>
  <div class="oscore">Player O:{{ oscore }}</div>
</div>
