<div class="board">
  <div id="tl" class="tldarkmode" (click)="fill(0)">{{ board[0] }}</div>
  <div id="t" class="tdarkmode" (click)="fill(1)">{{ board[1] }}</div>
  <div id="tr" class="trdarkmode" (click)="fill(2)">{{ board[2] }}</div>
  <div id="cl" class="cldarkmode" (click)="fill(3)">{{ board[3] }}</div>
  <div id="c" class="cdarkmode" (click)="fill(4)">{{ board[4] }}</div>
  <div id="cr" class="crdarkmode" (click)="fill(5)">{{ board[5] }}</div>
  <div id="bl" class="bldarkmode" (click)="fill(6)">{{ board[6] }}</div>
  <div id="b" class="bdarkmode" (click)="fill(7)">{{ board[7] }}</div>
  <div id="br" class="brdarkmode" (click)="fill(8)">{{ board[8] }}</div>
</div>
<div id="turnmsg">
  {{ msg }}
</div>

<button
  id="button"
  type="button"
  name="dark_light"
  (click)="toggleDarkLight()"
  title="Toggle theme"
  style="position: absolute; top:15px; right: 3%; width: 70.93px"
>
  {{ buttonvalue }}
</button>

<input
  class="newgamebutton"
  type="button"
  value="New Game"
  (click)="newgame()"
  title="Start a new game"
/>

<div class="scoreboard">
  <h1>Score</h1>
  <div class="xscore">Player X:{{ xscore }}</div>
  <div class="tiescore">Tie: {{ tiescore }}</div>
  <div class="oscore">Player O:{{ oscore }}</div>
</div>
