$darkborder: white;
$lightborder: black;

.board {
  cursor: pointer;
  background-color: inherit;
  height: 600px;
  width: 600px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0px solid white;
}

.cellclass {
  height: 200px;
  width: 200px;
  border-radius: 4px;
  font-size: 200px;
  text-align: center;
}

#tl {
  border-right: solid 4px;
  border-bottom: solid 4px;
}

#t {
  position: absolute;
  top: 0px;
  left: 200px;
}

#tr {
  position: absolute;
  top: 0px;
  left: 404px;
  border-left: solid 4px;
  border-bottom: solid 4px;
}

#cl {
  border-right: solid 4px;
  border-bottom: solid 4px;
}

#c {
  position: absolute;
  top: 200px;
  left: 200px;
  border: solid 4px;
}

#cr {
  position: absolute;
  top: 204px;
  left: 404px;
  border-bottom: solid 4px;
}

#bl {
  text-align: center;
}

#b {
  position: absolute;
  top: 400px;
  left: 200px;
  border-left: solid 4px;
}

#br {
  position: absolute;
  top: 400px;
  left: 404px;
  border-left: solid 4px;
}

#turnmsg {
  position: absolute;
  top: 150px;
  right: 3%;
  font-size: 40px;
}

.newgamebutton {
  position: absolute;
  top: 80px;
  right: 3%;
  height: 1px;
  width: 174px;
  border-radius: 13px;
  border: solid #000000 1px;
  padding: 27px;
  line-height: 1px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 100;
  background-color: dodgerblue;
  color: #ffffff;
  // box-shadow: 1px 1px 20px 0px black;
  text-shadow: 1px 1px 20px black;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.newgamebutton:hover {
  background-image: linear-gradient(to bottom, #0052cc, #4c00e6);
  text-decoration: none;
}
