$darkBG: black;
$darkcolor: white;
$darkborder: solid white 4px;

body.darkmode {
  user-select: none;
  font-family: sans-serif;
  background-color: $darkBG;
  color: $darkcolor;
  button {
    cursor: pointer;
    outline: none;
    background-color: white;
    color: black;
    font-size: 40px;
  }
}

$lightBG: black;
$lightcolor: white;
$lightborder: solid white 4px;

body.lightmode {
  user-select: none;
  font-family: sans-serif;
  background-color: $lightBG;
  color: $lightcolor;
  button {
    cursor: pointer;
    outline: none;
    background-color: black;
    color: white;
    font-size: 40px;
  }
}
